
$light-color: #FFFFFF;
$primary-color: #3BB77E;
$primary-color-light: #DEF9EC;

$hr-color: #BCE3C9;
$border-color: #ECECEC;

// font colors
$grey-font-color: #7E7E7E;
$placeholder-color: #838383;
$primary-font-color: #253D4E;

// padge colors
$hot-color: #F74B81;
$sale-color: #67BCEE;
$discount-color: #F59758;
